    * {
      box-sizing: border-box;
    }

    html {
      font-family: Arial, Helvectia, sans-serif;
    }

    html,
    body {
      height: 100%;
    }

    body {
      background-color: #FFFFFF;
      margin: 0;
    }

    h1 {
      font-size: 40px;
      text-align: center;
    }

    h2 {
      text-align: center;
    }


    img {
      display: block;
      height: auto;
      max-width: 100%;
      margin: auto;
    }

    iframe{
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
    }

    .wrapper {
      width: 100%;
      margin: 0 auto;
    }

    /*------------------------------ Anfang Style für die Navigationsleiste ---------------------------- */
    .topnav img {
      height: 20px;
    }

    .topnav {
      overflow: hidden;
      background-color: #68C902;
      margin: 0px auto;
    }

    .topnav a {
      float: left;
      display: block;
      color: #FFFFFF;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }

    .active {
      background-color: #B6E306;
      color: #FFFFFF;
    }

    .topnav .icon {
      display: none;
    }

    .dropdown {
      float: left;
      overflow: hidden;
    }

    .dropdown .dropbtn {
      font-size: 17px;
      border: none;
      outline: none;
      color: #FFFFFF;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #FFFFFF;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }

    .dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }

    .topnav a:hover, .dropdown:hover .dropbtn {
      background-color: #555;
      color: #FFFFFF;
    }

    .dropdown-content a:hover {
      background-color: #ddd;
      color: black;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    @media screen and (max-width: 600px) {
      .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
      }
      .topnav a.icon {
        float: right;
        display: block;
      }
    }

    @media screen and (max-width: 600px) {
      .topnav.responsive {position: relative;}
      .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
      .topnav.responsive .dropdown {float: none;}
      .topnav.responsive .dropdown-content {position: relative;}
      .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
      }
    }

    /*------------------------------ Ende Style für die Navigationsleiste ---------------------------- */


    /* ----------------------------- Styles für die Startseite --------------------------------------- */

    /*Das große Bild am Anfang der Startseite */
    .FrontPicture-Startseite {
      background-color: lightblue;
      background-image: url('AdobeStock_Frontpicture1_1500x1000.jpg');
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: relative;
      padding: 15%;
      background-attachment: fixed;
    }

    /* Der Text mittig auf dem FrontPicture Startseite*/
    .FrontPicture-Text-Startseite {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #FFFFFF;
      text-shadow: 5px 5px 10px black;
      font-weight: bold;
    }

    .werbespruch-startseite {
      background-color: white;
      background-size: cover;
      background-position: center;
      color: black;
      padding: 30px;
      text-align: center;
      margin: 0;
    }


/* Container der die 3 Spalten mit den Produktbildern beinhaltet */
    .container-startseite-mit-3-spalten {
      padding-left: : 64px;
      padding-right: 64px;
      padding-top: 30px;
      padding-bottom: 30px;
      background-color: #FFFFFF;
    }

    .column-33 {
      float: left;
      width: 33.33%;
      padding: 50px;
      position: relative;
    }

/* die Animation mit dem Overlay für die Produktbilder */

.image-für-overlay {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.column-33:hover .image-für-overlay {
  opacity: 0.3;
}

.column-33:hover .middle {
  opacity: 1;
}

.overlay-text {
  background-color: #68C902;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  font-weight: bold;
}

.overlay-text a:link{
    text-decoration: none;
    color: white;
}

.overlay-text a:visited{
  color: white;
}

.Untertext-Produktbilder{
  text-align: center;
}


  /* ----------------------------- Ende der Styles für die Startseite --------------------------------------- */


 /* -------------------Container und seperator, die wir auf mehreren Seiten benutzen ----------------------- */

 /* Der Balken zwischen den einzelnen Abschnitten */
 .separator {
   background-color: #77A1D9;
   background-size: cover;
   background-position: center;
   color: #FFFFFF;
   padding: 30px;
   text-align: center;
   margin: 0;
 }

 .wrapper_für_container {
   max-width: 1400px;
   margin: auto;
 }

 /* Erster Container mit 2 Spalten links Bild rechts Text*/
 .container-1 {
   padding-left: : 64px;
   padding-right: 64px;
   padding-top: 30px;
   padding-bottom: 30px;
   background-color: #FFFFFF;
 }

 /* Zweiter Container mit 2 Spalten links Text rechts Bild */
 .container-2 {
   padding-left: : 64px;
   padding-right: 64px;
   padding-top: 30px;
   padding-bottom: 30px;
   background-color: #BDD9F2;
 }

 .row:after {
   content: "";
   display: table;
   clear: both
 }

 .column-50-left {
   float: left;
   width: 50%;
   padding: 20px;
 }

 .column-50-right {
   float: right;
   width: 50%;
   padding: 20px;
 }

 /* -------------------Ende Container und seperator, die wir auf mehreren Seiten benutzen ------------- */


 /* ----------------------------Styles für die Produktseite ------------------------------------------- */
    /*Das große Bild am Anfang der Produktseite */
    .FrontPicture-Produktseite {
      background-color: lightblue;
      background-image: url('AdobeStock_Frontpicture2_1637x1093.jpg');
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: relative;
      padding: 15%;
      background-attachment: fixed;
    }

    /* Der Text mittig auf dem FrontPicture Produktseite*/
    .FrontPicture-Text-Produktseite {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #FFFFFF;
      text-shadow: 5px 5px 10px black;
      font-weight: bold;
    }


    /* Damit das Bild vom Bikestail Komplettpaket rund ist  */
    .round-image-komplettpaket{
      border-radius: 30%;
    }

    /* Dritter Container mit Produktdaten */
    .column-center{
      float: right;
    	padding: 20px;
      width: 100%;
      margin: auto;
      text-align: center;
    }

    /*Tabelle mir den Technischen Daten */
    table {
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #B6E306;
    }


    .product-data {
      padding: 55px;
    }

    /* Erster Container mit Produktdaten */
    .container-1-Produktdaten {
      padding: 0px 64px 5px 64px;
      background-color: #FFFFFF;
    }

    /* Zweiter Container mit Produktdaten */
    .container-produktdaten {
      padding: 10px 20px 10px 20px;
      background-color: #BDD9F2;
      margin: auto;
    }

    /* Zweiter Container mit Produktdaten */
    .container-technische-daten {
      padding: 10px 20px 10px 20px;
      background-color: #FFFFFF;
      margin: auto;
    }

    .column-50 {
      float: left;
      width: 50%;
      padding: 20px;
    }

    .container-1-Produktdaten img {
      width: auto;
    }

    .quantity, .color {
      float: right;
      width: 100px;
      margin-right: 40%;
    }

    .buy-button {
      border: 1px solid #8bd977;
      width: 70%;
      text-align: center;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      padding: 20px;
      margin-top: 5%;
    }

    .buy-button a {
      color: #8bd977;
      text-decoration: none;
    }

    .buy-button:hover {
      background: #8bd977;
    }

    .buy-button a:hover {
      color: #FFFFFF;
      text-decoration: none;
    }

    .white-gap {
      padding: 10px;
    }

    .text-center {
      text-decoration: none;
      text-align: center;
    }

    .p-b-0 {
      padding-bottom: 0px;
    }

    .p-t-0 {
      padding-top: 0px;
    }

    .f-25 {
      font-size: 25px;
    }

    .f-10 {
      font-size: 10px;
    }

    .m-t-35 {
      margin-top: 35px;
    }

    .column-50 p {
      text-align: justify;
      line-height: 20px;
    }

/* ----------------------- Ende der Styles für die Produktseite ------------------------------------------- */

/* ----------------------- Anfang der Styles für die Seite Datenschutz------------------------------------- */

    .datenschutz {
      padding-left: 20%;
      padding-right: 20%;
      padding-top: 2%;
      padding-bottom: 2%;
    }

    @media screen and (max-width: 768px) {
     .datenschutz{
        padding-left: 5%;
        padding-right: 5%;
      }
    }

/* ----------------------- Ende der Styles für die Seite Datenschutz--------------------------------------- */

/*Beginn des Designs der Seite Kontakt*/
    .contact {
      padding-left: 10%;
      padding-right: 10%;
      margin-bottom: 4rem;
    }

    .contact p{
      line-height: 1.5rem;
    }

    .mapouter {
      height: 50%;
      display: flex;
      border: none;

    }

    .gmap_canvas {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    }

    .gmap_canvas iframe {
      width: 100%;
      height: 100%;
    }

    .contact h2 {
      margin-bottom: 0.25em;
      text-align: center;
    }

    .contact hr {
      margin-top: 0.25rem;
      border: solid 0.1rem;
      border-radius: 3rem;
      color: #68C902;
    }

    @media screen and (max-width: 768px) {
      .gmap_canvas{
      padding-left: 0%;
      padding-right: 0%;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      }
    }






/*Ende des Designs der Seite Kontakt*/
/* ----------------------- Anfang des Styles für die Seite Übers uns -------------------------------------- */
    .aboutus {
      padding-left: 10%;
      padding-right: 10%;
    }

    .aboutus p {
      line-height: 1.5rem;
    }

    .garage_ueberuns{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .garage_ueberuns img {
      width: 50%
    }

    .employee {
      margin-bottom: 3rem;
    }

    .employee-detail {
      display: flex;
    }

    .employee-picture {
      width: 50%;
    }

    .employee-picture img {
      width: 300px;
      height: auto;
      position: relative;
    }

    .employee-text {
      width: 50%;
      margin-left: 5%;
      margin-top: auto;
      margin-bottom: auto;
    }

    .employee h2 {
      margin-bottom: 0.25em;
      text-align: center;
    }

    .employee h3{
      text-align: center;
    }

    .employee hr {
      margin-top: 0.25rem;
      border: solid 0.1rem;
      border-radius: 3rem;
      color: #68C902;
    }

    @media screen and (max-width: 768px) {
      .garage_ueberuns img{
        width: 100%;
      }

      .employee-detail{
        display: block;
      }
      .employee-picture{
        width: 100%;
      }

      .employee-text {
        width: 100%;
        margin-left: 0%;
      }
    }


/* ---------------------- Ende des Styles für die Seite über uns ------------------------------------------ */

/* -------------------------------- Styles für den Footer ------------------------------------------------- */

    /*Das sind die Footer Spaltern, die durch diesen Text designt werden*/
    .column-footer-left,
    .column-footer-middle,
    .column-footer-right {
      float: left;
      width: 33.33%;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      line-height: 120%;
    }

    .column-footer-left a {
      text-decoration: none;
      color: #FFFFFF;
    }

    .footer {
      background-color: #77A1D9;
      text-align: center;
      color: #FFFFFF;
    }

    .footer_content {
      width: 60%;
      display: inline-block;
      text-align: left;
    }

    .social_media img {
      width: 50px;
      height: 80px;
      float: left;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      align-items: center;
    }

    .social_media img:hover {
      width: 60px;
    }


/* -------------------------------- Ende der Styles für den Footer ------------------------------------------------- */

/************************************************************************************************************************************/
    /* Responsive Layout für die Columns wenn Bildschirm kleiner als 768px*/
    @media screen and (max-width: 768px) {

      .column-50,
      .column-50 {
        width: 100%;
        text-align: center;
      }

      .column-50-left,
      .column-50-right,
      .column-footer-left,
      .column-footer-middle,
      .column-footer-right {
        width: 100%;
        padding-left: 80px;
        padding-right: 80px;
      }

      .column-footer-left,
      .column-footer-middle,
      .column-footer-right {
        padding-top: 5px;
        padding-bottom: 5px;
        line-height: 120%;
        padding-left: 20px;
        padding-right: 20px;
      }

      img {
        margin: auto;
      }

      .container-1,
      .container-2 {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 1px;
        padding-bottom: 1px;
      }
      .image-für-overlay,
      .column-33  {
        width: 100%;
        padding: 50px;
        padding-right: 10px;
      }
    }

    /************************************************************************************************************************************/
    /************************************************************************************************************************************/
    /* Responsive Layout für die Columns wenn Bildschirm größer als 2000px*/
    @media screen and (min-width: 2000px) {

      main,
      footer,
        {
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
      }

      .column-50-left,
      .column-50-right,
      .column-footer-left,
      .column-footer-middle,
      .column-footer-right {
        width: 50%;
      }
    }

    /************************************************************************************************************************************/

    /* Ich weiß nicht genau welche Buttons hier gestylt werden, deswegen sind die keiner Seite zugeordnet */
    /* Daniel 30.11.2020 */

    .gotoproductbutton {
      text-align: center;
    }

    .gotoproductbutton button {
      text-align: center;
      font-size: 18px;
      font-weight: bolder;
      background-color: #68C902;
      color: white;
      margin-top: 30px;
      margin-bottom: 30px;
      border-radius: 5px;
      border: none;
      /*Hier wird die Geschwindigkeit des Buttons geregelt*/
      box-shadow: 10px 15px 10px -7px black;
      transition: ease-in-out all 300ms;
      /*Hierdurch wird die Breite des Buttons geregelt*/
      padding-left: 5%;
      padding-right: 5%;
    }

    .gotoproductbutton button:hover {
      background-color: #FFFFFF;
      color: #02B7FF;
      border: solid 3px #02B7FF;
      transform: translate(0px, -10px);
      box-shadow: 0px 30px 10px -10px grey;
    }

    .read_more_button {
      border: none;
      color: #FFFFFF;
      padding: 14px 28px;
      font-size: 16px;
      cursor: pointer;
      background-color: #68C902;
      text-align: center;
      border-radius: 50px;
      border: none;
      box-shadow: 10px 15px 10px -7px black;
      transition: ease-in-out all 300ms;
    }

    .read_more_button:hover {
      background-color: #FFFFFF;
      color: #02B7FF;
      border: solid 3px #02B7FF;
      transform: translate(0px, -10px);
      box-shadow: 0px 30px 10px -10px grey;
    }

    .logo_home {
      /*Hier wird die Größe der Benefit Logos bestimmt*/
      width: 50%;
    }
