    * {
      box-sizing: border-box;
    }

    html {
      font-family: Arial, Helvectia, sans-serif;
    }

    html,
    body {
      height: 100%;
    }

    body {
      background-color: white;
      margin: 0;
    }

    h1{
      font-size: 45px;
      text-align: center;
    }

    h2{
      text-align: center;
    }
    
    .wrapper {
      width: 100%;
      margin: 0 auto;
    }

    .navigation {
      width: 100%;
      text-align: center;
      display: inline-block;
      background-color: #86D414;
    }

    .nav {
      display: inline-block;
      list-style-type: none;
      padding-left: 10px;
      padding-right: 10px;
    }

    .nav a {
      color: white;
      font-weight: bold;
      display: table-cell;
      vertical-align: middle;
      text-decoration: none;
    }

    .nav a:hover {
      color: black;
      font-weight: bolder;
      text-decoration: underline;
    }

    .logo_klein {
      /*Hierbei handelt es sich um das Logo in der Navigationsleiste*/
      width: 65px;
    }

    /*Das große Bild am Anfang der Produktseite */
    .FrontPicture-Startseite {
      background-color: lightblue;
      background-image: url('AdobeStock_Frontpicture1_1500x1000.jpg');
      height: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: relative;
      padding: 300px;
      background-attachment: fixed;
    }

    /* Der Text mittig auf dem FrontPicture Produktseite*/
    .FrontPicture-Text-Startseite {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      text-shadow: 5px 5px 10px black;
      font-weight: bold;
    }

    /*Das große Bild am Anfang der Produktseite */
    .FrontPicture-Produktseite {
      background-color: lightblue;
      background-image: url('AdobeStock_Frontpicture2_1637x1093.jpg');
      height: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: relative;
      padding: 300px;
      background-attachment: fixed;
    }

    /* Der Text mittig auf dem FrontPicture Produktseite*/
    .FrontPicture-Text-Produktseite {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      text-shadow: 5px 5px 10px black;
      font-weight: bold;
    }

    /* Der Balken zwischen den einzelnen Abschnitten */
    .separator {
      background-color: #77A1D9;
      background-size: cover;
      background-position: center;
      color: white;
      padding: 30px;
      text-align: center;
      margin: 0;
    }

    .wrapper_für_container{
      max-width: 1400px;
      margin: auto;
    }

    /* Erster Container mit 2 Spalten links Bild rechts Text*/
    .container-1 {
      padding-left: : 64px;
      padding-right: 64px;
      padding-top: 30px;
      padding-bottom: 30px;
      background-color: white;
    }

    /* Zweiter Container mit 2 Spalten links Text rechts Bild */
    .container-2 {
      padding-left: : 64px;
      padding-right: 64px;
      padding-top: 30px;
      padding-bottom: 30px;
      background-color: #BDD9F2;
    }

    .row:after {
      content: "";
      display: table;
      clear: both
    }

    .column-50-left {
      float: left;
      width: 50%;
      padding: 20px;
    }

    .column-50-right {
      float: right;
      width: 50%;
      padding: 20px;
    }

    /*Das sind die Footer Spaltern, die durch diesen Text designt werden*/
    .column-footer-left,
    .column-footer-middle,
    .column-footer-right {
      float: left;
      width: 33.33%;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      line-height: 120%;
    }

    .column-footer-left a {
      text-decoration: none;
      color: white;
    }

    .footer {
      background-color: #4682B4;
      text-align: center;
      color: white;
    }

    .footer_content {
      width: 60%;
      display: inline-block;
      text-align: left;
    }

    .social_media img {
      width: 50px;
      height: 80px;
      float: left;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      align-items: center;
    }

    .social_media img:hover {
      width: 60px;
    }

    img {
      display: block;
      height: auto;
      max-width: 100%;
      margin: auto;
    }

    /************************************************************************************************************************************/
    /* Responsive Layout für die Columns wenn Bildschirm kleiner als 768px*/
    @media screen and (max-width: 768px) {

      .column-50-left,
      .column-50-right,
      .column-footer-left,
      .column-footer-middle,
      .column-footer-right {
        width: 100%;
        padding-left: 80px;
        padding-right: 80px;
      }

      .column-footer-left,
      .column-footer-middle,
      .column-footer-right {
        padding-top: 5px;
        padding-bottom: 5px;
        line-height: 120%;
        padding-left: 20px;
        padding-right: 20px;
      }

      img {
        margin: auto;
      }

      .container-1,
      .container-2 {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 1px;
        padding-bottom: 1px;
      }
    }

    /************************************************************************************************************************************/
    /************************************************************************************************************************************/
    /* Responsive Layout für die Columns wenn Bildschirm größer als 2000px*/
    @media screen and (min-width: 2000px) {
      main,
      footer,
        {
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
      }

      .column-50-left,
      .column-50-right,
      .column-footer-left,
      .column-footer-middle,
      .column-footer-right {
        width: 50%;
      }
    }

    /************************************************************************************************************************************/
    .productbutton {
      text-align: center;
      /*Hierdurch wird der Button zentriert*/
    }

    button {
      background-color: #86D414;
      font-size: 18px;
      font-weight: bolder;
      color: white;
      margin-top: 30px;
      margin-bottom: 30px;
      padding: 5px 30px;
      border-radius: 5px;
      border: none;
      box-shadow: 10px 15px 10px -7px black;
      transition: ease-in-out all 300ms;
      /*Hier wird die Geschwindigkeit des Buttons geregelt*/
    }

    button:hover {
      background-color: white;
      color: #0B9BCB;
      border: solid 3px #0B9BCB;
      transform: translate(0px, -10px);
      box-shadow: 0px 30px 10px -10px grey;
    }

    .logo_home {
      /*Hier wird die Größe der Benefit Logos bestimmt*/
      width: 50%;
    }
	
	/*Tabelle mir den Technischen Daten */
	table {
	  font-family: arial, sans-serif;
	  border-collapse: collapse;
	  width: 100%;
	}

	td, th {
	  border: 1px solid #dddddd;
	  text-align: left;
	  padding: 8px;
	}

	tr:nth-child(even) {
	  background-color: #86D414;
	}

		/*Das große Bild am Anfang der Seite */
	.FrontPicture {
		/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
	  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg");*/
		background-color: lightblue;
		background-image: url('Adobe_Bild.png');
		height: 50%;
		background-repeat: no-repeat;
	  background-size: cover;
		background-position: center;
		position: relative;
	  padding: 200px;
		/*color: black;
	  text-align: center;
		margin: 0;*/
	}

	/* Der Text mittig auf dem FrontPicture*/
	.FrontPicture-Text {
	  text-align: center;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  color: white;
	}

	.Inhaltstrenner{
		background-color: #77A1D9;
		background-size: cover;
		background-position: center;
		color: white;
		padding: 30px;
		text-align: center;	
		margin-bottom: 0px;
	}

	.product-data{
		padding: 55px;
	}

	/* Erster Container mit Produktdaten */
	.container-1-Produktdaten{
		padding: 0px 64px 5px 64px;
		background-color: white;
	}

	/* Zweiter Container mit Produktdaten */
	.container-produktdaten{	
		padding: 10px 20px 10px 20px;
		background-color: #BDD9F2;
		margin: auto;
		font-family: arial;
	}

	.b-white{
		background-color:white!important;
	}

	.row:after {
	  content: "";
	  display: table;
	  clear: both
	}

	.column-50 {
	  float: left;
	  width: 50%;
	  padding: 20px;
	}



	.button {

	  border: none;
	  color: white;
	  padding: 14px 28px;
	  font-size: 16px;
	  cursor: pointer;
	  background-color: #4CAF50;
	  float: right
	}

	img {
	  display: block;
	  height: auto;
	  max-width: 100%;
	}

	.container-1-Produktdaten img{
		width: auto;
	}

	.quantity, .color{	
		float: right;
		width: 100px;
		margin-right: 40%;
	}

	.buy-button {
		border: 1px solid #8bd977;
		width: 70%;
		text-align: center;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
		padding: 20px;
		margin-top: 5%;
	}

	.buy-button a {
		color: #8bd977;
		text-decoration: none;
	}
	.buy-button:hover {
		background: #8bd977;
	}
	.buy-button a:hover {
		color: white;
		text-decoration: none;
	}
	.white-gap{
		padding: 10px;
	}
	.text-center{
		text-decoration: none;
		text-align: center;
	}
	.p-b-0{
		padding-bottom: 0px;
	}
	.p-t-0{
		padding-top: 0px;
	}
	.f-25{
		font-size: 25px;
	}
	.f-10{
		font-size: 10px;
	}
	.m-t-35{
		margin-top: 35px;
	}
	.column-50 p{
		text-align: justify;
		line-height: 20px;
	}
	/* Responsive Layout für die Columns wenn Bildschirm kleiner als 768px*/
	@media screen and (max-width: 768px) {
	  .column-50,
	  .column-50 {
		width: 100%;
		text-align: center;
	  }
	  img {
		margin: auto;
	  }
	}

	/* Responsive layout - when the screen is less than 768px wide, make the
	navigation links stack on top of each other instead of next to each other */
	@media screen and (max-width: 768px) {
	  .navbar a {
		float: none;
		width: 100%;
	  }
	}

