html{
    font-family: Arial, Helvectia, sans-serif;
}

body{
  font-family: Arial, Helvectia, sans-serif;
  margin: 0px;
}


.wrapper {
  width: 100%;
  margin: 0 auto;
}

.nav a{
  color: black;
  font-weight: bold;
  display: table-cell;
  vertical-align: middle;
  text-decoration: none;
}

.nav a:hover {
  color: white;
  font-weight: bolder;
  text-decoration: underline;
}

.navigation {
  width: 100%;
  text-align: center;
  display: inline-block;
  background-color: grey;
}

.nav {
  display: inline-block;
  list-style-type: none;
  margin: 10 auto 10 auto;
  padding-left: 10px ;
  padding-right: 10px ;
  background-color: grey;
}



.logo_klein {
  width: 65px;
}

.logo_home {

}

#main{
 margin: 10 auto 10 auto;
 padding: 14px;
 text-align: center;
}

.FrontPicture {
	background-color: lightblue;
	background-image: url('Fahrradbild_schlechte_Auflösung.png');
	background-repeat: no-repeat;
  background-size: cover;
	background-position: center;
  color: black;
  padding: 200px;
  text-align: center;
}



.productbutton{
  text-align: center; /*Hierdurch wird der Button zentriert*/
}

button {
  background-color: #0B9BCB;
  font-size: 18px;
  font-weight: bolder;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 5px 30px;
  border-radius: 5px;
  border: none;
  box-shadow: 10px 15px 10px -7px black;

  transition: ease-in-out all 300ms; /*Hier wird die Geschwindigkeit des Buttons geregelt*/
}

button:hover {
  background-color: white;
  color: #0B9BCB;
  border: solid 3px #0B9BCB;

  transform: translate(0px, -10px);
  box-shadow: 0px 30px 10px -10px grey;
}

.benefits {
  background-color: purple;
  padding: 5em 1em 5em 1em;
}

.environment {
  background-color: red;
  width: 100%;
}

.environment_text{
  /*display: flex;*/
  align-items: center;
  justify-content: center;
  background-color: green;
}

.environment_pic{
  display: flex;
  align-items: center;
  justify-content: center;

}

.logo_home{ /*Hier wird die Größe der Benefit Logos bestimmt*/
  width: 50%;
}

#copyright{
 text-align: center;
 color: gray;
 padding: 14px;
}
